
.handler {
    display:table;
    margin-top: -5px;
    margin-bottom: 6px;
    margin-right: auto;
    margin-left: auto;
}

.handlerContent {
    padding: 0 5px;
    align-items: center;
    display: flex;
    justify-content: center;
    border-radius: 5px;
    background-color: #fff;
    box-shadow: 0 2px 2px 0 rgba(0,0,0,0.16), 0 0 0 1px rgba(0,0,0,0.08);
    transition: box-shadow 200ms cubic-bezier(0.4, 0.0, 0.2, 1);
}

.itemMargin {
    margin-right: 5px;
}

.arrowDiv {

}

.arrow {
    color: #e8e9ea;
}

.arrow:hover {
    color: #8c9299;
}

.selected {
    color: #8c9299;
}


.arrowUp {
    composes:arrow;
    margin-bottom: -11px;
}

.arrowDown {
    composes:arrow;
}