.content {
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 6fr;
    grid-template-areas:  "handler handler"
                          "leftBox rightBox";
    grid-gap: 2%;
}

.handler {
    grid-area: handler;
    background-color: #555500;
}

.leftBox {
    grid-area: leftBox;
    background-color: #202050;
    opacity: 0.4;
}

.rightBox {
    grid-area: rightBox;
    background-color: #202050;
    opacity: 0.4;
}

